<div>
  <div class="sign-in">
    <img src="../../assets/type-it-final-final.png">
    <h1 > Sign Up </h1>
  </div>
  <div class="formulario" class="container-md" >
    <form [formGroup]="signIn" (ngSubmit) = "sendForm()">


            <!--Campo nickname-->
            <div class="nickname form-group-row">
              <label class="col-sm-1 col-form-label text-sm-left">Nick</label>
              <div class = "inputnick col-sm-12">
                <input type="text" class="form-control" formControlName = "nickname" placeholder="Type your nickname ..."
                 value="" name="NickName" autocomplete="disabled">
                <div *ngIf ="nickname.invalid && (nickname.dirty || nickname.touched)">
                  <div class = "text-danger" *ngIf = "nickname.errors.required">
                    Type your message, please
                  </div>
                  <div class = "text-danger" *ngIf = "nickname.errors.minlength">
                    Your message must have 5 characters
                  </div>
                </div>
              </div>
            </div>


                <!--Campo password-->

        <div class="pass form-group-row">
          <label class="col-sm-1 col-form-label text-sm-left">Password</label>
          <div class = "col-sm-12">
            <input type = "password" class="form-control" formControlName = "password" placeholder="Type your password ..."
             autocomplete="new-password">
            <div *ngIf ="password.invalid && (password.dirty || password.touched)">
              <div class = "text-danger" *ngIf = "password.errors.required">
                Type your password, please
              </div>
              <div class = "text-danger" *ngIf = "password.errors.minlength">
                Your password must have 5 characters
              </div>
              <div class = "text-danger" *ngIf = "password.errors.pattern">
                Your password must have less than 100 characters
              </div>
            </div>
          </div>
        </div>


      <!--Campo Name-->

        <div class="name form-group-row">
          <label class="col-sm-1 col-form-label text-sm-left">Nombre</label>
          <div class = "col-sm-12">
            <input type="text" class="form-control" formControlName = "displayName" placeholder="Type your name ...">
            <!--div *ngIf ="displayName.invalid && (displayName.dirty || displayName.touched)">
              <div class = "text-danger" *ngIf = "displayName.errors.required">
                Type your name, please
              </div>
              <div class = "text-danger" *ngIf = "displayName.errors.minlength">
                Your name must have 5 characters
              </div>
            </div>-->
          </div>
        </div>

        <!--Campo Email-->

        <div class="email form-group-row">
          <label class="col-sm-1 col-form-label text-sm-left">Email</label>
          <div class = "col-sm-12">
            <input type="email" class="form-control" formControlName = "email" placeholder="Type your email ...">
            <div *ngIf ="email.invalid && (email.dirty || email.touched)">
              <div class = "text-danger" *ngIf = "email.errors.required">
                Type your email, please
              </div>
              <div class = "text-danger" *ngIf = "email.errors.minlength">
                Your email must have 5 characters
              </div>
              <div class = "text-danger" *ngIf = "email.errors.pattern">
                Your email must have a valid format
              </div>
            </div>
          </div>
        </div>
               <!--Campo Fecha-->

        <div class="email form-group-row">
          <label class="col-sm-1 col-form-label text-sm-left">Fecha</label>
          <div class = "col-sm-12">
            <input type="date" class="form-control" formControlName = "date" placeholder="Type your email ...">
          </div>
        </div>

        <!--Suhbmit button-->
        <div class = "form-group-row">
          <div class="col-sm-12 text-right">
            <button type="submit" class = "submit" (reset) = "resetForm()" > Regístrate </button>
          </div>
        </div>
    </form>
  </div>
</div>
