<section id="que-es">
  <div class="container pt-7 pb-6 text-white">
     <div class="row align-items-center text-center text-md-left" style="opacity: 1;">
      <div class="col-lg-6" style="opacity: 1;">
        <img src="../../assets/imagen_tablon_mundo.png" class="img-fluid" alt="" width="582"style="opacity: 1;">
      </div>
        <div class="col-lg-6"style="opacity: 1;">
           <h1 style="opacity: 1; font-size: 55px;">
            Type It!
            <h1 style="font-size: 55px;">Tu tablón virtual personalizable para cualquier ámbito</h1>
          </h1>
            <p class="lead"style="opacity: 1; font-size: 25px">
              Con la personalización de Type It! podrás almacenar toda la
              información que consideres oportuna y organizarla a tu gusto.
            </p>
        </div>
        </div>
      </div>
</section>

<section id="compartido">
  <div class="container pt-7 pb-6 text-white">
    <div class="row align-items-center text-center text-md-left">


          <div class="col-lg-6">
            <h1>Tu tablón virtual personalizable para cualquier ámbito</h1>
            <p class="lead">
              Con la personalizacion de Type It! podrás guardar toda información
              que crees necesaria y organizarla a tu gusto.
            </p>
       </div>
       <div class="col-lg-6">
        <img src="../../assets/maxresdefault.jpg" class="img-fluid" alt="" width="582">
        </div>
       </div>
     </div>
</section>
<section id="plantillas">
  <div class="container pt-7 pb-6 text-white">
    <div class="row align-items-center text-center text-md-left">
       <div class="col-lg-6">
          <h1>Tu tablón virtual personalizable para cualquier ámbito</h1>
           <p class="lead">
            Con la personalizacion de Type It! podrás guardar toda información
            que crees necesaria y organizarla a tu gusto.
           </p>
       </div>
          <div class="col-lg-6">
          <img src="../../assets/maxresdefault.jpg" class="img-fluid" alt="" width="582">
          </div>
       </div>
     </div>

</section>

